@use "../../theme/variables";

.UserList {
  color: variables.$color-white;

  ul {
    padding-left: 17px;

    li {
      margin-bottom: 0.5em;
    }
  }

  a {
    color: variables.$color-white;
  }
}
